/* Starter code. */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
/* Starter code. */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/* Added from starter text in order to center header text to match the mockup. */
header{
  text-align: center;
}
/* Starter code. */
.description {
  white-space: pre-wrap;
}
/* Starter code. */
.time-block {
  border-radius: 15px;
}
/* Starter code. */
.row {
  border-top: 1px solid white;
}
/* Starter code. */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* Starter code. */
.past {
  background-color: #d3d3d3;
  color: white;
}
/* Starter code. */
.present {
  background-color: #ff6961;
  color: white;
}
/* Starter code. */
.future {
  background-color: #77dd77;
  color: white;
}
/* Starter code. */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}
/* Starter code. */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
